.logistics-wrap {
	min-height: 400px;
}

.breadcrumb {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: #fff;
	margin-bottom: 0;
}

.breadcrumb a {
	color: #313131;
}

.logistics-wrap h3 {
	background-color: #222;
	color: #fff;
	font-size: 13px;
	padding: 7px 10px;
}

.logistics-caption {
	margin: 10px 0;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	background-color: #f5f5f5;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.logistics-wrap table {
	width: 100%;
}

.logistics-wrap td {
	vertical-align: middle;
	border: 1px solid #ddd;
	padding: 7px 10px;
	text-align: center;
}

.logistics-add a {
	display: block;
	width: 30%;
	margin: 10px 0 0 10px;
	background-color: #131313;
	border-radius: 2px;
	color: #fff;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}