.breadcrumb {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: #fff;
	margin-bottom: 0;
}

.breadcrumb a {
	color: #313131;
}

.pay-wrap {
	min-height: 400px;
	margin-bottom: 10px;
}

.pay-wrap h3 {
	background-color: #222;
	color: #fff;
	font-size: 13px;
	padding: 7px 10px;
	clear: both;
}

.pay-inner {
	border: 1px solid #ddd;
	border-radius: 2px;
	background-color: #fff;
	margin: 10px;
	padding: 10px;
	font-size: 14px;
}

.pay-inner p {
	margin: 15px 0;
}

.pay-img {
	width: 162px;
	height: 32px;
}